* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 10px;
}


.addNewFood {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.addNewFoodEnd{
    padding: 10px 20px;
    background-color: #17A2B8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px
}

.showFoods {
    padding: 10px 20px;
    background-color: #28A745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.removeLateFood {
    padding: 10px 20px;
    background-color: #DC3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.removeFristFood {
    padding: 10px 20px;
    background-color: #FFC107;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.removeAnyFoods{
    padding: 10px 20px;
    background-color: #6C757D;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}